
h1 {
    color: red; 
}


p {
    font-weight: bold;
}


img {
    width: 400px; 
    height: 600px; 
}
input[type="text"] {
    width: 100px;
    height: 20px;
  
}


input[type="submit"] {
    background-color: black;
    color: white;

}